section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}
section > div {
  width: 80%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  font-size: 1.3em;
  font-family: sans-serif;
}
section > div > div:last-child {
  width: 20px;
}
input {
  border: white solid 1px;
}
section > div > label {
  display: flex;

  text-overflow: ellipsis;
  width: 100%;
}
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  background: #fff;
  border: 1px solid #5c47d3;
  margin-right: 15px;
}

input[type="checkbox"]:checked {
  background: #5c47d3;

  position: relative;
  margin-right: 15px;
}
input[type="checkbox"]:checked:before {
  font-family: fontawesome;
  content: "\f00c ";
  display: block;
  color: white;
  font-size: 11px;
  position: absolute;
  right: 2px;
  top: 1px;
}

label span {
  display: inline-block;
  width: calc(100% - 15px);
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}
@media (max-width: 500px) {
  section > div {
    width: 100%;
    font-size: 0.9em;
    font-family: sans-serif;
  }
}
